@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row content-box">
    <div class="col-sm-4 col-vertical-center text-center scroll-reveal">
        <img src="~/img/victoria-marie-headshot.png" />
    </div>
    <div class="col-sm-7 col-vertical-center scroll-reveal">
        <h1>About Victoria</h1>
        <h2>Loud / Pinay / Bruha</h2>
        <p>
            Victoria Marie is unapologetically herself. Loud, proud, rebelliously curious and nothing but honest, she is truly a force to be reckoned with. A self-proclaimed beautiful-mess, she poses a challenge to her listeners and followers through her work, a mission of self-acceptance, expression and exploration. A child of the village, she's been uplifted by local communities throughout Toronto and raised to champion her differences as her strengths. Intentionally naïve, she expects the most from this world and these days she does not settle for anything less.
        </p>
    </div>
</div>

<div class="row content-box parallax-window" data-android-fix="true" data-parallax="scroll" data-natural-width="2048" data-natural-height="1366" data-image-src="/img/victoria-marie-singer.jpg"></div>

<div class="row content-box">
    <div class="col-sm-12 col-vertical-center scroll-reveal text-center">
        <h1>Music</h1>
        <h2>msvictoriamarie</h2>
        <iframe src="https://www.youtube.com/embed/7piy-r3sp0M?list=PLSBG99fZaR6cgv1bhRmXOvrdwOQfFRWbh" frameborder="0" allowfullscreen></iframe>
        <p><br />Victoria Marie is a 21-year-old emerging musician originating from the quiet suburbs of Ajax, Ontario; to busking on the city streets of Toronto for 2 years; Until her hustle and sprightly character sparked the interest of the local arts community and industry giants alike. Indulging in her curiosity to experiment with everything from her style, to her sound, she began consuming and fusing her guilty pleasures like cheesy pop from the early 2000s, with 90's R&B, pop punk, tribal hip hop and some good old soul music. A rookie at <a href="https://www.youtube.com/channel/UCVbTDBZ80DEguRp_UJDKoLw">youtube</a>, but guaranteed to be brimming with youth-fuelled fire and fun.</p>
    </div>
</div>

<div class="row content-box parallax-window" data-android-fix="true" data-parallax="scroll" data-natural-width="2048" data-natural-height="1366" data-image-src="/img/victoria-marie-actor.jpg"></div>

<div class="row content-box">
    <div class="col-sm-12 col-vertical-center scroll-reveal">
        <h1>Acting</h1>
        <p>Victoria Marie is an independent actor from Toronto, Ontario Canada. Starting as a PA, finding her footing on set with Mentor and Director Romeo Candido, for 'Prison Dancer' (2012), Victoria Marie has quickly risen up the ranks. She received her first big break while working as one of 500 Asian background extras on set of 'Pacific Rim' (2013). She was spotted by Director Guillermo Del Toro, and upgraded to speaking role on the spot, returning one month later to film the larger scene. Since then, Victoria has appeared in many productions and projects, including three national commercial print Ads for Loblaws, GOtransit, and Bell; various Carlos Bulosan Theatre productions, David Cronenberg's experimental and interactive TIFF exhibition film; Millions: the webseries and feature length film, and her first leading role in the independent film 'Beat' which had it's home town premiere at the 25th annual Inside Out Film festival at TIFF Bell Lightbox this past May. <a href="https://www.facebook.com/DATU.TORONTO/">Datu</a></p>
    </div>
</div>

<div class="row content-box parallax-window" data-android-fix="true" data-parallax="scroll" data-natural-width="960" data-natural-height="640" data-image-src="/img/victoria-marie-model.jpg">
    <div class="col-sm-12 col-vertical-center text-center scroll-reveal">
        <div class="follow-btn"><a href="https://www.youtube.com/channel/UCVbTDBZ80DEguRp_UJDKoLw"><img src="~/img/icons/victoria-marie-youtube.png" /></a></div>
        <div class="follow-btn"><a href="https://www.instagram.com/growingolden/"><img src="~/img/icons/victoria-marie-instagram.png" /></a></div>
        <div class="follow-btn"><a href="https://www.facebook.com/MsVictoriaMarie/"><img src="~/img/icons/victoria-marie-facebook.png" /></a></div>
        <div class="follow-btn"><a href="https://www.twitter.com/MsVictoriaMarie/"><img src="~/img/icons/victoria-marie-twitter.png" /></a></div>
    </div>
</div>

<div class="row content-box contact-me">
    <div class="col-sm-12 col-vertical-center">
        <form>
            <input type="hidden" id="action" name="action" value="contactme" />
            <div class="col-sm-3">
                <input type="text" id="firstname" name="firstname" maxlength="100" placeholder="First Name" required />
            </div>
            <div class="col-sm-3">
                <input type="text" id="lastname" name="lastname" maxlength="100" placeholder="Last Name" required />
            </div>
            <div class="col-sm-3">
                <input type="email" id="email" name="email" maxlength="100" placeholder="Email" required />
            </div>
            <div class="col-sm-3">
                <button type="submit" onclick="this.submit()">Submit</button>
            </div>
        </form>
    </div>
</div>
